<h3>Crear Cliente</h3>

</br>
<form class="form-crearCliente" ng-submit="crearCliente(cliente)">
  <div class="col-md-6">
  	<div class="form-group">
  		<label>DNI</label>
  		<input type="text" ng-model="cliente.dni" class="form-control" placeholder="DNI del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Nombre</label>
  		<input type="text" ng-model="cliente.nombre" class="form-control" placeholder="Nombre del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Apellidos</label>
  		<input type="text" ng-model="cliente.apellidos" class="form-control" placeholder="Apellidos del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Telefono</label>
  		<input type="text" ng-model="cliente.telefono" class="form-control" placeholder="Telefono del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Direccion</label>
  		<input type="text" ng-model="cliente.direccion" class="form-control" placeholder="Direccion del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Codigo Postal</label>
  		<input type="text" ng-model="cliente.cp" class="form-control" placeholder="Codigo Postal del cliente">
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="form-group">
  		<label>Email</label>
  		<input type="text" ng-model="cliente.email" class="form-control" placeholder="Email del cliente">
  	</div>
  </div>
  <div class="col-md-12">
  	<div class="form-group">
  		<label>Observaciones</label>
  		<textarea class="form-control" ng-model="cliente.observaciones" rows="4" placeholder="Observaciones del cliente">
  		</textarea>
  	</div>
  </div>
  <div class="col-md-12">
  	<button type="submit" class="btn btn-danger">Guardar</button>
  </div>
  
</form>